.graph-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #badfe7;
  margin-bottom: 20px;
}
.graph {
  width: 100%;
  width: 100%;
  height: 400px;
  min-height: 400px;
  position: relative;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.graph :global(.recharts-wrapper) {
  outline: none !important;
}

.graph :global(.recharts-surface) {
  outline: none !important;
}
