nav {
  display: flex;
  justify-content: space-between;
  padding: clamp(10px, 1vw, 20px) clamp(10px, 2vw, 30px);
  background-color: white;
  border-bottom: 2px solid #badfe7;
}

h1 {
  color: #6fb3b8;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
  letter-spacing: clamp(3px, 1vw, 5px);
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
